<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GyveProto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6FAB2ED1C70369E007311AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FAB3061C70369F007311AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FAB3111C70369F007311AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
